# calcoli per Luisa su "seconda parte"

In [1]:
import pandas as pd

In [2]:
dati=pd.read_csv("File dati_Ortona_2w_ETICHETTE.csv",sep=';')

In [3]:
dati['peso']=dati['peso'].replace(',','.', regex=True).astype(float)

### campi del questionario, comprese le nostre domande (Q013, Q014)

ID

Q003	Lei e'

		1	Uomo
		2	Donna
Q004	Classe di eta' a 6

		1	18-24 anni
		2	25-34 anni
		3	35-44 anni
		4	45-54 anni
		5	55-64 anni
		6	oltre 64 anni
Q005	Zona a 5 (FV per regione ordine istat)

		1	nord-ovest
		2	nord-est
		3	centro
		4	sud
		5	isole
Q006	Quanti abitanti ha il suo comune di residenza?

		1	fino a 5000 abitanti
		2	da 5001 a 10000 abitanti
		3	da 10001 a 30000 abitanti
		4	da 30001 a 100000 abitanti
		5	da 100001 a 250000 abitanti
		6	oltre 250000 abitanti
Q008	scol recode

		1	no laurea
		2	laurea
Q009	Come e' composto il suo nucleo familiare

		1	vive da solo 18-34 anni
		2	vive da solo 35-54 anni
		3	vive da solo +55 anni
		4	vive con i genitori
		5	coppia con figli
		6	coppia senza figli
		7	genitore solo, con figli
		8	genitore solo, vive con figlio/figli e genitori&nbsp;
		9	single vive con altre persone (amici, parenti)
		10	altro/preferisco non rispondere
Q010	Indichi la Sua attuale professione o condizione professionale

		1	imprenditore
		2	artigiano/familiare coadiuvante
		3	commerciante
		4	altro lavoratore autonomo/agente di commercio/rappresentante
		5	libero professionista
		6	dirigente
		7	docente/insegnante di scuola superiore
		8	insegnante di scuola media, elementare e materna
		9	quadro/direttivo/tecnico
		10	impiegato
		11	altro lavoratore dipendente
		12	operaio
		13	agricoltore
		14	studente/scolaro
		15	in cerca di prima occupazione
		16	casalinga
		17	ritirato dal lavoro/pensionato
		18	disoccupato (ex-occupato)
		19	proprietario/redditiere/benestante
		20	altro (non occupato)
		21	preferisco non rispondere
Q011	Lei politicamente si collocherebbe piu' facilmente...

		1	a destra
		2	a centro destra
		3	al centro
		4	a centro sinistra
		5	a sinistra
		6	in nessuna area politica
		7	preferisco non rispondere
Q012	Lei ha la cittadinanza...

		1	Italiana
		2	Estera
		3	ho la doppia cittadinanza (italiana e di un altro Paese)
		4	sono apolide
		5	preferisco non rispondere
Q013	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei
Q014	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (l'1%)  sui PATRIMONI FINANZIARI, quindi conti in banca, azioni, obbligazioni, bot, ma NON su case, terreni o altri beni immobili, con una quota esente di 100.000E. Quota esente significa che chi avesse un patrimonio inferiore a 100.000E non pagherebbe nulla, chi avesse un patrimonio di 150.000E pagherebbe l'1% di 50.000E (perche' i primi 100.000 sarebbero esenti), chi avesse un patrimonio d1 200.000E pagherebbe l'1% di 100.000E e cosi' via. Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei
Q015	Con quale frequenza si reca a Messa o la segue in televisione o alla radio?

		1	ogni giorno
		2	2/3 volte alla settimana
		3	la domenica
		4	una volta al mese
		5	in occasione delle principali feste
		6	alcune volte l'anno
		7	mai
		8	non sono credente
		9	sono di un'altra religione
		10	preferisco non rispondere
Q016	CENTRI URBANI RECODE

        1	piccoli centri
		2	citta' medie
		3	periferia
		4	aree centrali di grandi citta'
		5	altro
Q018	Il Suo reddito familiare Le consente di vivere...

		1	agiatamente
		2	con tranquillita'
		3	avverto difficolta'
		4	arrivo a fine mese con molte difficolta'
		5	mi sento povero e non arrivo mai a fine mese
Q019	Condizione professionale

		1	Occupato
		2	Non occupato
Q020	Professione recode

		1	Autonomi
		2	Dipendenti
		3	Operai
		4	Disoccupati
		5	Studenti
		6	Casalinghe
		7	Pensionati
Q021	Settore lavorativo pubblico/privato

		1	Pubblico
		2	Privato
Q022	Livello scolarita' 3

		1	Bassa
		2	Media
		3	Alta
Q023	GENERAZIONI

		1	GENERAZIONE Z
		2	MILLENNIALS
		3	GENERAZIONE X
		4	BABY BOOMERS
		5	SILENT
Q024	RELIGIONE

		1	Cattolico praticante (fino a 1 volta al mese)
		2	Cattolico non praticante
		3	non credente
		4	altra religione

In [4]:
dati.columns

Index(['ID', 'Q003', 'Q004', 'Q005', 'Q006', 'Q008', 'Q009', 'Q010', 'Q011',
       'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q018', 'Q019', 'Q020', 'Q021',
       'Q022', 'Q023', 'Q024', 'peso'],
      dtype='object')

In [5]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

## dati di base, non pesati (NB, 1194 questionari)

In [6]:
pd.crosstab(dati.Q004, dati.Q003,margins=True)

Q003           Donna  Uomo   All
Q004
18-24 anni        53    42    95
25-34 anni        74    84   158
35-44 anni        89    87   176
45-54 anni       122   112   234
55-64 anni       103    97   200
oltre 64 anni    185   146   331
All              626   568  1194

In [7]:
100*pd.crosstab(dati.Q004, dati.Q003,normalize='index',margins=True)

Q003           Donna  Uomo
Q004
18-24 anni      55.8  44.2
25-34 anni      46.8  53.2
35-44 anni      50.6  49.4
45-54 anni      52.1  47.9
55-64 anni      51.5  48.5
oltre 64 anni   55.9  44.1
All             52.4  47.6

## dati di base, pesati (NB, 1200 questionari virtuali)

In [8]:
pd.crosstab(dati.Q004, dati.Q003,values=dati.peso,aggfunc=sum,margins=True)

Q003           Donna  Uomo    All
Q004
18-24 anni      47.0  51.5   98.5
25-34 anni      75.1  78.0  153.1
35-44 anni      92.8  92.8  185.6
45-54 anni     116.2 113.8  230.0
55-64 anni     104.0  97.6  201.5
oltre 64 anni  187.0 144.4  331.4
All            622.0 578.1 1200.1

In [9]:
100*pd.crosstab(dati.Q004, dati.Q003,values=dati.peso,aggfunc=sum,normalize='index',margins=True)

Q003           Donna  Uomo
Q004
18-24 anni      47.7  52.3
25-34 anni      49.0  51.0
35-44 anni      50.0  50.0
45-54 anni      50.5  49.5
55-64 anni      51.6  48.4
oltre 64 anni   56.4  43.6
All             51.8  48.2

## Calcoli non pesati o pesati, su classi di reddito e nostre domande

**Q013**	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei

#### non pesato

In [10]:
100*pd.crosstab(dati.Q018, dati.Q013,normalize='index',margins=True)

Q013                                           No  Non saprei  Si'
Q018
agiatamente                                  19.2         0.0 80.8
arrivo a fine mese con molte difficolta'     11.6        10.7 77.7
avverto difficolta'                          16.9        17.6 65.5
con tranquillita'                            23.2        12.7 64.1
mi sento povero e non arrivo mai a fine mese 17.5        15.0 67.5
All                                          19.5        14.2 66.4

#### pesato

In [11]:
100*pd.crosstab(dati.Q018, dati.Q013, values=dati.peso,aggfunc=sum,normalize='index',margins=True)

Q013                                           No  Non saprei  Si'
Q018
agiatamente                                  12.3         0.0 87.7
arrivo a fine mese con molte difficolta'     16.3        11.3 72.4
avverto difficolta'                          18.9        17.1 64.0
con tranquillita'                            20.2        15.3 64.6
mi sento povero e non arrivo mai a fine mese 13.8        28.1 58.1
All                                          18.8        15.9 65.3

**Q014**	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (l'1%)  sui PATRIMONI FINANZIARI, quindi conti in banca, azioni, obbligazioni, bot, ma NON su case, terreni o altri beni immobili, con una quota esente di 100.000E. Quota esente significa che chi avesse un patrimonio inferiore a 100.000E non pagherebbe nulla, chi avesse un patrimonio di 150.000E pagherebbe l'1% di 50.000E (perche' i primi 100.000 sarebbero esenti), chi avesse un patrimonio d1 200.000E pagherebbe l'1% di 100.000E e cosi' via. Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei

#### non pesato

In [12]:
100*pd.crosstab(dati.Q018, dati.Q014,normalize='index',margins=True)

Q014,"No, sarei contrario","No, sarei molto contrario",Non saprei,"Si, abbastanza","Si, molto"
Q018,,,,,
agiatamente,15.4,15.4,7.7,23.1,38.5
arrivo a fine mese con molte difficolta',9.8,16.1,17.0,29.5,27.7
avverto difficolta',16.3,9.1,13.6,35.2,25.8
con tranquillita',16.4,13.2,12.9,36.2,21.2
mi sento povero e non arrivo mai a fine mese,12.5,12.5,15.0,30.0,30.0
All,15.6,12.0,13.5,34.7,24.3

#### pesato

In [13]:
100*pd.crosstab(dati.Q018, dati.Q014, values=dati.peso,aggfunc=sum,normalize='index',margins=True)

Q014,"No, sarei contrario","No, sarei molto contrario",Non saprei,"Si, abbastanza","Si, molto"
Q018,,,,,
agiatamente,17.3,10.4,9.4,21.7,41.3
arrivo a fine mese con molte difficolta',8.8,22.0,23.7,26.2,19.2
avverto difficolta',16.1,10.4,17.4,33.3,22.7
con tranquillita',17.2,12.3,17.0,36.1,17.3
mi sento povero e non arrivo mai a fine mese,18.0,11.9,20.7,26.5,23.0
All,15.8,12.7,18.0,33.2,20.3