# seconda parte

In [2]:
import pandas as pd

In [3]:
dati=pd.read_csv("File dati_Ortona_2w_ETICHETTE.csv",sep=';')

In [4]:
dati['peso']=dati['peso'].replace(',','.', regex=True).astype(float)

### campi del questionario, comprese le nostre domande (Q013, Q014, Q015)

ID

Q003	Lei e'

		1	Uomo
		2	Donna
Q004	Classe di eta' a 6

		1	18-24 anni
		2	25-34 anni
		3	35-44 anni
		4	45-54 anni
		5	55-64 anni
		6	oltre 64 anni
Q005	Zona a 5 (FV per regione ordine istat)

		1	nord-ovest
		2	nord-est
		3	centro
		4	sud
		5	isole
Q006	Quanti abitanti ha il suo comune di residenza?

		1	fino a 5000 abitanti
		2	da 5001 a 10000 abitanti
		3	da 10001 a 30000 abitanti
		4	da 30001 a 100000 abitanti
		5	da 100001 a 250000 abitanti
		6	oltre 250000 abitanti
Q008	scol recode

		1	no laurea
		2	laurea
Q009	Come e' composto il suo nucleo familiare

		1	vive da solo 18-34 anni
		2	vive da solo 35-54 anni
		3	vive da solo +55 anni
		4	vive con i genitori
		5	coppia con figli
		6	coppia senza figli
		7	genitore solo, con figli
		8	genitore solo, vive con figlio/figli e genitori&nbsp;
		9	single vive con altre persone (amici, parenti)
		10	altro/preferisco non rispondere
Q010	Indichi la Sua attuale professione o condizione professionale

		1	imprenditore
		2	artigiano/familiare coadiuvante
		3	commerciante
		4	altro lavoratore autonomo/agente di commercio/rappresentante
		5	libero professionista
		6	dirigente
		7	docente/insegnante di scuola superiore
		8	insegnante di scuola media, elementare e materna
		9	quadro/direttivo/tecnico
		10	impiegato
		11	altro lavoratore dipendente
		12	operaio
		13	agricoltore
		14	studente/scolaro
		15	in cerca di prima occupazione
		16	casalinga
		17	ritirato dal lavoro/pensionato
		18	disoccupato (ex-occupato)
		19	proprietario/redditiere/benestante
		20	altro (non occupato)
		21	preferisco non rispondere
Q011	Lei politicamente si collocherebbe piu' facilmente...

		1	a destra
		2	a centro destra
		3	al centro
		4	a centro sinistra
		5	a sinistra
		6	in nessuna area politica
		7	preferisco non rispondere
Q012	Lei ha la cittadinanza...

		1	Italiana
		2	Estera
		3	ho la doppia cittadinanza (italiana e di un altro Paese)
		4	sono apolide
		5	preferisco non rispondere
Q013	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei
Q014	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (l'1%)  sui PATRIMONI FINANZIARI, quindi conti in banca, azioni, obbligazioni, bot, ma NON su case, terreni o altri beni immobili, con una quota esente di 100.000E. Quota esente significa che chi avesse un patrimonio inferiore a 100.000E non pagherebbe nulla, chi avesse un patrimonio di 150.000E pagherebbe l'1% di 50.000E (perche' i primi 100.000 sarebbero esenti), chi avesse un patrimonio d1 200.000E pagherebbe l'1% di 100.000E e cosi' via. Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei
Q015	Con quale frequenza si reca a Messa o la segue in televisione o alla radio?

		1	ogni giorno
		2	2/3 volte alla settimana
		3	la domenica
		4	una volta al mese
		5	in occasione delle principali feste
		6	alcune volte l'anno
		7	mai
		8	non sono credente
		9	sono di un'altra religione
		10	preferisco non rispondere
Q016	CENTRI URBANI RECODE

        1	piccoli centri
		2	citta' medie
		3	periferia
		4	aree centrali di grandi citta'
		5	altro
Q018	Il Suo reddito familiare Le consente di vivere...

		1	agiatamente
		2	con tranquillita'
		3	avverto difficolta'
		4	arrivo a fine mese con molte difficolta'
		5	mi sento povero e non arrivo mai a fine mese
Q019	Condizione professionale

		1	Occupato
		2	Non occupato
Q020	Professione recode

		1	Autonomi
		2	Dipendenti
		3	Operai
		4	Disoccupati
		5	Studenti
		6	Casalinghe
		7	Pensionati
Q021	Settore lavorativo pubblico/privato

		1	Pubblico
		2	Privato
Q022	Livello scolarita' 3

		1	Bassa
		2	Media
		3	Alta
Q023	GENERAZIONI

		1	GENERAZIONE Z
		2	MILLENNIALS
		3	GENERAZIONE X
		4	BABY BOOMERS
		5	SILENT
Q024	RELIGIONE

		1	Cattolico praticante (fino a 1 volta al mese)
		2	Cattolico non praticante
		3	non credente
		4	altra religione

In [5]:
dati.columns

Index(['ID', 'Q003', 'Q004', 'Q005', 'Q006', 'Q008', 'Q009', 'Q010', 'Q011',
       'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q018', 'Q019', 'Q020', 'Q021',
       'Q022', 'Q023', 'Q024', 'peso'],
      dtype='object')

In [6]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

## dati di base, non pesati (NB, 1194 questionari)

In [7]:
pd.crosstab(dati.Q004, dati.Q003,margins=True)

Q003           Donna  Uomo   All
Q004
18-24 anni        53    42    95
25-34 anni        74    84   158
35-44 anni        89    87   176
45-54 anni       122   112   234
55-64 anni       103    97   200
oltre 64 anni    185   146   331
All              626   568  1194

## dati di base, pesati (NB, 1200 questionari virtuali)

In [8]:
pd.crosstab(dati.Q004, dati.Q003,values=dati.peso,aggfunc=sum,margins=True)

Q003           Donna  Uomo    All
Q004
18-24 anni      47.0  51.5   98.5
25-34 anni      75.1  78.0  153.1
35-44 anni      92.8  92.8  185.6
45-54 anni     116.2 113.8  230.0
55-64 anni     104.0  97.6  201.5
oltre 64 anni  187.0 144.4  331.4
All            622.0 578.1 1200.1

In [9]:
## Esempio non pesati, pesati su classi di reddito e nostre domande

Q013	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei

#### non pesati

In [12]:
100*pd.crosstab(dati.Q018, dati.Q013,normalize='index',margins=True)

Q013                                           No  Non saprei  Si'
Q018
agiatamente                                  19.2         0.0 80.8
arrivo a fine mese con molte difficolta'     11.6        10.7 77.7
avverto difficolta'                          16.9        17.6 65.5
con tranquillita'                            23.2        12.7 64.1
mi sento povero e non arrivo mai a fine mese 17.5        15.0 67.5
All                                          19.5        14.2 66.4

#### pesati

In [13]:
100*pd.crosstab(dati.Q018, dati.Q013, values=dati.peso,aggfunc=sum,normalize='index',margins=True)

Q013                                           No  Non saprei  Si'
Q018
agiatamente                                  12.3         0.0 87.7
arrivo a fine mese con molte difficolta'     16.3        11.3 72.4
avverto difficolta'                          18.9        17.1 64.0
con tranquillita'                            20.2        15.3 64.6
mi sento povero e non arrivo mai a fine mese 13.8        28.1 58.1
All                                          18.8        15.9 65.3

### d'ora in avanti, pesati

In [8]:
100*pd.crosstab(dati.Q013, dati.Q004, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q004,18-24 anni,25-34 anni,35-44 anni,45-54 anni,55-64 anni,oltre 64 anni,All
Q013,,,,,,,
No,11.0,16.4,20.7,12.0,23.7,23.4,18.9
Non saprei,20.8,19.1,13.7,15.0,9.9,18.3,15.8
Si',68.2,64.5,65.7,73.0,66.4,58.3,65.2

In [9]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q004], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003            Donna                                              \
Q004       18-24 anni 25-34 anni 35-44 anni 45-54 anni 55-64 anni
Q013
No                4.9        9.6       11.9        6.0       15.7
Non saprei       26.4       29.0       17.2       16.8       13.0
Si'              68.7       61.4       71.0       77.2       71.2

Q003                           Uomo                                   \
Q004       oltre 64 anni 18-24 anni 25-34 anni 35-44 anni 45-54 anni
Q013
No                  17.1       16.6       22.9       29.4       18.2
Non saprei          22.3       15.7        9.6       10.2       13.1
Si'                 60.6       67.7       67.5       60.4       68.7

Q003                                 All
Q004       55-64 anni oltre 64 anni
Q013
No               32.2          31.7 18.9
Non saprei        6.5          13.0 15.8
Si'              61.2          55.3 65.2

In [10]:
100*pd.crosstab(dati.Q013, dati.Q005, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q005        centro  isole  nord-est  nord-ovest  sud  All
Q013
No            13.2    9.5      26.6        30.7  8.2 18.9
Non saprei    20.3   17.6      14.5        15.4 12.8 15.8
Si'           66.5   72.9      58.9        54.0 79.0 65.2

In [11]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q005], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003        Donna                                  Uomo                 \
Q005       centro isole nord-est nord-ovest  sud centro isole nord-est
Q013
No            7.9   1.0     15.8       24.6  3.7   19.0  18.7     38.1
Non saprei   31.7  17.7     16.3       19.6 14.8    7.9  17.5     12.6
Si'          60.4  81.3     67.9       55.8 81.5   73.1  63.8     49.4

Q003                        All
Q005       nord-ovest  sud
Q013
No               37.1 13.0 18.9
Non saprei       10.9 10.6 15.8
Si'              52.0 76.4 65.2

In [12]:
100*pd.crosstab(dati.Q013, dati.Q006, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q006,da 100001 a 250000 abitanti,da 10001 a 30000 abitanti,da 30001 a 100000 abitanti,da 5001 a 10000 abitanti,fino a 5000 abitanti,oltre 250000 abitanti,All
Q013,,,,,,,
No,19.0,24.2,19.0,17.0,19.9,14.0,18.9
Non saprei,13.6,13.3,20.9,13.3,19.4,15.0,15.8
Si',67.3,62.6,60.1,69.7,60.7,71.0,65.2

In [13]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q006], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                             Donna                            \
Q006       da 100001 a 250000 abitanti da 10001 a 30000 abitanti
Q013
No                                 9.5                      13.6
Non saprei                        11.3                      16.2
Si'                               79.1                      70.2

Q003                                                            \
Q006       da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q013
No                                8.2                     15.1
Non saprei                       25.3                     23.2
Si'                              66.6                     61.7

Q003                                                   \
Q006       fino a 5000 abitanti oltre 250000 abitanti
Q013
No                         16.4                  11.9
Non saprei                 20.5                  21.1
Si'                        63.1                  67.0

Q003                              Uomo                            \
Q006       da 100001 a 250000 abitanti da 10001 a 30000 abitanti
Q013
No                                28.3                      33.6
Non saprei                        15.9                      10.7
Si'                               55.8                      55.7

Q003                                                            \
Q006       da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q013
No                               31.6                     19.1
Non saprei                       15.8                      2.2
Si'                              52.6                     78.7

Q003                                                   All
Q006       fino a 5000 abitanti oltre 250000 abitanti
Q013
No                         25.5                  16.2 18.9
Non saprei                 17.7                   8.6 15.8
Si'                        56.8                  75.1 65.2

In [14]:
100*pd.crosstab(dati.Q013, dati.Q008, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q008        laurea  no laurea  All
Q013
No            21.5       18.5 18.9
Non saprei    14.4       16.1 15.8
Si'           64.1       65.4 65.2

In [15]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q008], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003        Donna             Uomo            All
Q008       laurea no laurea laurea no laurea
Q013
No           12.6      12.1   27.2      26.0 18.9
Non saprei   22.3      19.8    9.4      11.7 15.8
Si'          65.1      68.0   63.4      62.3 65.2

In [16]:
100*pd.crosstab(dati.Q013, dati.Q009, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q009,altro/preferisco non rispondere,coppia con figli,coppia senza figli,"genitore solo, con figli","genitore solo, vive con figlio/figli e genitori&nbsp;","single vive con altre persone (amici, parenti)",vive con i genitori,vive da solo +55 anni,vive da solo 18-34 anni,vive da solo 35-54 anni,All
Q013,,,,,,,,,,,
No,4.9,16.9,23.0,14.7,16.2,24.9,15.3,30.7,30.1,2.8,18.9
Non saprei,29.3,13.2,13.0,16.2,26.1,7.8,12.3,24.5,26.0,37.6,15.8
Si',65.9,69.8,63.9,69.1,57.7,67.2,72.3,44.9,43.8,59.7,65.2

In [17]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q009], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                                 Donna                   \
Q009       altro/preferisco non rispondere coppia con figli
Q013
No                                     0.0             10.4
Non saprei                            36.6             16.5
Si'                                   63.4             73.0

Q003                                                    \
Q009       coppia senza figli genitore solo, con figli
Q013
No                       14.6                      9.4
Non saprei               17.3                     20.4
Si'                      68.1                     70.2

Q003                                                              \
Q009       genitore solo, vive con figlio/figli e genitori&nbsp;
Q013
No                                                       19.9
Non saprei                                               32.0
Si'                                                      48.1

Q003                                                                           \
Q009       single vive con altre persone (amici, parenti) vive con i genitori
Q013
No                                                    5.7                 6.2
Non saprei                                           13.6                15.3
Si'                                                  80.8                78.5

Q003                                                      \
Q009       vive da solo +55 anni vive da solo 18-34 anni
Q013
No                          30.6                     2.8
Non saprei                  25.0                    46.3
Si'                         44.4                    50.9

Q003                                ...             Uomo                     \
Q009       vive da solo 35-54 anni  ... coppia con figli coppia senza figli
Q013                                ...
No                             0.0  ...             23.9               31.2
Non saprei                    46.2  ...              9.8                8.9
Si'                           53.8  ...             66.4               59.9

Q003                                 \
Q009       genitore solo, con figli
Q013
No                             34.8
Non saprei                      0.0
Si'                            65.2

Q003                                                              \
Q009       genitore solo, vive con figlio/figli e genitori&nbsp;
Q013
No                                                        0.0
Non saprei                                                0.0
Si'                                                     100.0

Q003                                                                           \
Q009       single vive con altre persone (amici, parenti) vive con i genitori
Q013
No                                                   30.8                23.7
Non saprei                                            6.1                 9.7
Si'                                                  63.1                66.6

Q003                                                      \
Q009       vive da solo +55 anni vive da solo 18-34 anni
Q013
No                          30.8                    47.4
Non saprei                  23.1                    13.3
Si'                         46.1                    39.4

Q003                                All
Q009       vive da solo 35-54 anni
Q013
No                             4.7 18.9
Non saprei                    31.7 15.8
Si'                           63.6 65.2

[3 rows x 21 columns]

In [18]:
100*pd.crosstab(dati.Q013, dati.Q011, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q011,a centro destra,a centro sinistra,a destra,a sinistra,al centro,in nessuna area politica,preferisco non rispondere,All
Q013,,,,,,,,
No,26.0,22.8,18.0,15.0,22.3,16.4,8.9,18.9
Non saprei,15.9,13.8,8.3,8.9,23.3,13.1,34.9,15.8
Si',58.1,63.3,73.7,76.1,54.4,70.5,56.2,65.2

In [19]:
100*pd.crosstab(dati.Q013, [dati.Q003,dati.Q011], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                 Donna                                                  \
Q011       a centro destra a centro sinistra a destra a sinistra al centro
Q013
No                    13.0              19.5      9.3       15.2      21.2
Non saprei            17.7              23.5     17.8        9.0      31.5
Si'                   69.3              57.0     72.9       75.8      47.3

Q003                                                                     Uomo  \
Q011       in nessuna area politica preferisco non rispondere a centro destra
Q013
No                              6.7                       6.7            37.9
Non saprei                     14.6                      32.3            14.2
Si'                            78.7                      61.0            47.9

Q003                                                        \
Q011       a centro sinistra a destra a sinistra al centro
Q013
No                      25.9     24.9       14.9      23.5
Non saprei               4.8      0.6        8.8      14.6
Si'                     69.2     74.4       76.3      61.9

Q003                                                           All
Q011       in nessuna area politica preferisco non rispondere
Q013
No                             27.2                      15.7 18.9
Non saprei                     11.4                      42.7 15.8
Si'                            61.3                      41.6 65.2

Q014	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (l'1%)  sui PATRIMONI FINANZIARI, quindi conti in banca, azioni, obbligazioni, bot, ma NON su case, terreni o altri beni immobili, con una quota esente di 100.000E. Quota esente significa che chi avesse un patrimonio inferiore a 100.000E non pagherebbe nulla, chi avesse un patrimonio di 150.000E pagherebbe l'1% di 50.000E (perche' i primi 100.000 sarebbero esenti), chi avesse un patrimonio d1 200.000E pagherebbe l'1% di 100.000E e cosi' via. Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei

In [20]:
100*pd.crosstab(dati.Q014, dati.Q003, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                       Donna  Uomo  All
Q014
No, sarei contrario         13.5  18.3 15.8
No, sarei molto contrario   11.2  14.2 12.7
Non saprei                  21.9  14.2 18.2
Si, abbastanza              34.1  32.3 33.2
Si, molto                   19.3  21.1 20.2

In [21]:
100*pd.crosstab(dati.Q014, dati.Q004, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q004,18-24 anni,25-34 anni,35-44 anni,45-54 anni,55-64 anni,oltre 64 anni,All
Q014,,,,,,,
"No, sarei contrario",7.3,13.4,12.0,12.8,20.5,20.8,15.8
"No, sarei molto contrario",7.5,6.0,11.6,13.3,12.7,17.4,12.7
Non saprei,28.2,30.5,17.8,23.9,10.5,10.4,18.2
"Si, abbastanza",44.0,32.2,33.4,32.4,33.5,30.6,33.2
"Si, molto",13.1,18.0,25.2,17.6,22.7,20.8,20.2

In [22]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q004], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                           Donna                                   \
Q004                      18-24 anni 25-34 anni 35-44 anni 45-54 anni
Q014
No, sarei contrario              6.4        6.2        7.7       14.8
No, sarei molto contrario        3.3        6.8        5.6       11.0
Non saprei                      35.0       38.7       25.6       22.1
Si, abbastanza                  43.5       33.2       37.9       33.2
Si, molto                       11.8       15.1       23.3       18.9

Q003                                                     Uomo             \
Q004                      55-64 anni oltre 64 anni 18-24 anni 25-34 anni
Q014
No, sarei contrario             17.6          17.9        8.1       20.0
No, sarei molto contrario       14.4          16.0       11.2        5.2
Non saprei                      12.0          15.6       22.0       22.8
Si, abbastanza                  35.4          30.0       44.4       31.3
Si, molto                       20.5          20.5       14.3       20.7

Q003                                                                      All
Q004                      35-44 anni 45-54 anni 55-64 anni oltre 64 anni
Q014
No, sarei contrario             16.2       10.7       23.6          24.6 15.8
No, sarei molto contrario       17.5       15.7       10.9          19.3 12.7
Non saprei                      10.1       25.7        8.9           3.7 18.2
Si, abbastanza                  29.0       31.7       31.5          31.4 33.2
Si, molto                       27.1       16.1       25.0          21.0 20.2

In [23]:
100*pd.crosstab(dati.Q014, dati.Q005, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q005                       centro  isole  nord-est  nord-ovest  sud  All
Q014
No, sarei contrario          15.5    6.9      17.4        20.5 13.4 15.8
No, sarei molto contrario     8.5    9.8      11.3        18.6 11.9 12.7
Non saprei                   17.8   27.1      11.5        17.6 20.5 18.2
Si, abbastanza               31.2   29.2      37.9        28.4 38.3 33.2
Si, molto                    26.9   27.0      21.8        14.8 15.9 20.2

In [24]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q005], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                       Donna                                  Uomo        \
Q005                      centro isole nord-est nord-ovest  sud centro isole
Q014
No, sarei contrario         13.2   1.5     14.3       18.1 13.5   18.0  12.6
No, sarei molto contrario    8.1   6.2      9.5       19.1  8.7    9.0  13.7
Non saprei                  22.0  29.9     13.5       20.1 27.2   13.2  24.0
Si, abbastanza              36.0  29.5     39.6       29.7 34.9   26.0  29.0
Si, molto                   20.7  32.9     23.2       13.0 15.7   33.7  20.6

Q003                                                All
Q005                      nord-est nord-ovest  sud
Q014
No, sarei contrario           20.7       23.1 13.3 15.8
No, sarei molto contrario     13.3       18.0 15.4 12.7
Non saprei                     9.4       15.1 13.3 18.2
Si, abbastanza                36.1       27.1 42.0 33.2
Si, molto                     20.4       16.7 16.1 20.2

In [25]:
100*pd.crosstab(dati.Q014, dati.Q006, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q006,da 100001 a 250000 abitanti,da 10001 a 30000 abitanti,da 30001 a 100000 abitanti,da 5001 a 10000 abitanti,fino a 5000 abitanti,oltre 250000 abitanti,All
Q014,,,,,,,
"No, sarei contrario",19.3,16.6,15.9,9.6,16.2,16.7,15.8
"No, sarei molto contrario",16.7,11.3,11.4,18.8,6.8,11.9,12.7
Non saprei,14.6,17.3,14.6,13.6,31.7,20.9,18.2
"Si, abbastanza",27.8,35.0,38.5,31.9,39.0,27.2,33.2
"Si, molto",21.6,19.7,19.5,26.1,6.3,23.3,20.2

In [26]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q006], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                                            Donna  \
Q006                      da 100001 a 250000 abitanti
Q014
No, sarei contrario                              15.3
No, sarei molto contrario                         9.1
Non saprei                                       22.6
Si, abbastanza                                   30.1
Si, molto                                        23.0

Q003                                                 \
Q006                      da 10001 a 30000 abitanti
Q014
No, sarei contrario                            22.3
No, sarei molto contrario                      10.0
Non saprei                                     12.8
Si, abbastanza                                 28.6
Si, molto                                      26.3

Q003                                                                           \
Q006                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q014
No, sarei contrario                              9.5                      5.4
No, sarei molto contrario                       11.7                     17.9
Non saprei                                      21.7                     21.8
Si, abbastanza                                  41.1                     31.0
Si, molto                                       16.0                     23.9

Q003                                                                  \
Q006                      fino a 5000 abitanti oltre 250000 abitanti
Q014
No, sarei contrario                       15.0                  12.4
No, sarei molto contrario                  6.3                  11.3
Non saprei                                31.7                  25.2
Si, abbastanza                            41.8                  32.2
Si, molto                                  5.3                  18.9

Q003                                             Uomo  \
Q006                      da 100001 a 250000 abitanti
Q014
No, sarei contrario                              23.1
No, sarei molto contrario                        24.3
Non saprei                                        6.7
Si, abbastanza                                   25.5
Si, molto                                        20.4

Q003                                                 \
Q006                      da 10001 a 30000 abitanti
Q014
No, sarei contrario                            11.6
No, sarei molto contrario                      12.5
Non saprei                                     21.3
Si, abbastanza                                 40.6
Si, molto                                      14.0

Q003                                                                           \
Q006                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q014
No, sarei contrario                             23.4                     14.3
No, sarei molto contrario                       11.1                     19.8
Non saprei                                       6.3                      4.5
Si, abbastanza                                  35.5                     32.9
Si, molto                                       23.7                     28.4

Q003                                                                  All
Q006                      fino a 5000 abitanti oltre 250000 abitanti
Q014
No, sarei contrario                       18.2                  21.2 15.8
No, sarei molto contrario                  7.7                  12.6 12.7
Non saprei                                31.6                  16.5 18.2
Si, abbastanza                            34.7                  21.9 33.2
Si, molto                                  7.8                  27.9 20.2

In [27]:
100*pd.crosstab(dati.Q014, dati.Q008, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q008                       laurea  no laurea  All
Q014
No, sarei contrario          14.1       16.1 15.8
No, sarei molto contrario    19.3       11.5 12.7
Non saprei                   12.3       19.2 18.2
Si, abbastanza               33.6       33.1 33.2
Si, molto                    20.7       20.1 20.2

In [28]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q008], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                       Donna             Uomo            All
Q008                      laurea no laurea laurea no laurea
Q014
No, sarei contrario         10.2      13.9   16.6      18.6 15.8
No, sarei molto contrario   17.6      10.4   20.4      12.8 12.7
Non saprei                  17.2      22.5    9.2      15.3 18.2
Si, abbastanza              37.9      33.6   30.8      32.6 33.2
Si, molto                   17.1      19.6   23.1      20.6 20.2

In [29]:
100*pd.crosstab(dati.Q014, dati.Q009, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q009,altro/preferisco non rispondere,coppia con figli,coppia senza figli,"genitore solo, con figli","genitore solo, vive con figlio/figli e genitori&nbsp;","single vive con altre persone (amici, parenti)",vive con i genitori,vive da solo +55 anni,vive da solo 18-34 anni,vive da solo 35-54 anni,All
Q014,,,,,,,,,,,
"No, sarei contrario",9.8,19.8,15.0,18.8,10.0,9.8,9.2,21.3,9.9,5.8,15.8
"No, sarei molto contrario",0.0,13.6,11.9,5.8,17.3,1.3,10.1,23.8,9.0,18.0,12.7
Non saprei,32.1,16.8,14.0,17.0,29.4,30.2,19.7,10.9,35.0,32.6,18.2
"Si, abbastanza",27.0,32.3,32.7,46.0,30.7,43.6,38.7,23.2,37.3,26.3,33.2
"Si, molto",31.1,17.6,26.5,12.4,12.6,15.0,22.2,20.8,9.0,17.2,20.2

In [30]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q009], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                                                Donna                   \
Q009                      altro/preferisco non rispondere coppia con figli
Q014
No, sarei contrario                                   7.8             17.2
No, sarei molto contrario                             0.0             12.2
Non saprei                                           36.1             19.0
Si, abbastanza                                       26.1             35.5
Si, molto                                            30.0             16.2

Q003                                                                   \
Q009                      coppia senza figli genitore solo, con figli
Q014
No, sarei contrario                     10.6                     15.1
No, sarei molto contrario               10.8                      4.7
Non saprei                              18.0                     19.4
Si, abbastanza                          34.8                     50.2
Si, molto                               25.8                     10.7

Q003                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q014
No, sarei contrario                                                     12.3
No, sarei molto contrario                                               10.9
Non saprei                                                              31.6
Si, abbastanza                                                          29.7
Si, molto                                                               15.5

Q003                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q014
No, sarei contrario                                                  8.4
No, sarei molto contrario                                            5.7
Non saprei                                                          24.0
Si, abbastanza                                                      53.6
Si, molto                                                            8.3

Q003                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q014
No, sarei contrario                       8.2                  20.4
No, sarei molto contrario                 3.5                  25.2
Non saprei                               32.3                  15.3
Si, abbastanza                           32.7                  15.7
Si, molto                                23.3                  23.4

Q003                                                                       \
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q014
No, sarei contrario                           0.0                     5.2
No, sarei molto contrario                    14.4                     7.7
Non saprei                                   33.3                    46.1
Si, abbastanza                               48.2                    28.7
Si, molto                                     4.1                    12.3

Q003                       ...             Uomo                     \
Q009                       ... coppia con figli coppia senza figli
Q014                       ...
No, sarei contrario        ...             22.6               19.2
No, sarei molto contrario  ...             15.0               13.0
Non saprei                 ...             14.5               10.1
Si, abbastanza             ...             28.9               30.6
Si, molto                  ...             19.0               27.1

Q003                                                \
Q009                      genitore solo, con figli
Q014
No, sarei contrario                           33.0
No, sarei molto contrario                      9.9
Non saprei                                     7.8
Si, abbastanza                                30.3
Si, molto                                     19.0

Q003                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q014
No, sarei contrario                                                      0.0
No, sarei molto contrario                                               45.2
Non saprei                                                              19.5
Si, abbastanza                                                          35.3
Si, molto                                                                0.0

Q003                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q014
No, sarei contrario                                                 10.3
No, sarei molto contrario                                            0.0
Non saprei                                                          32.1
Si, abbastanza                                                      40.6
Si, molto                                                           17.1

Q003                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q014
No, sarei contrario                      10.1                  23.6
No, sarei molto contrario                16.3                  20.2
Non saprei                                8.1                   0.0
Si, abbastanza                           44.3                  41.8
Si, molto                                21.1                  14.4

Q003                                                                       All
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q014
No, sarei contrario                          16.1                     6.3 15.8
No, sarei molto contrario                     5.6                    25.0 12.7
Non saprei                                   36.0                    23.5 18.2
Si, abbastanza                               30.3                    24.7 33.2
Si, molto                                    12.0                    20.6 20.2

[5 rows x 21 columns]

In [31]:
100*pd.crosstab(dati.Q014, dati.Q011, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q011,a centro destra,a centro sinistra,a destra,a sinistra,al centro,in nessuna area politica,preferisco non rispondere,All
Q014,,,,,,,,
"No, sarei contrario",21.5,18.8,11.1,10.9,23.9,11.5,14.4,15.8
"No, sarei molto contrario",18.7,8.7,25.2,6.7,8.7,11.7,11.2,12.7
Non saprei,11.8,12.3,13.8,9.9,9.6,25.9,41.7,18.2
"Si, abbastanza",34.7,35.6,26.8,31.6,45.5,31.8,27.3,33.2
"Si, molto",13.3,24.7,23.1,41.0,12.2,19.1,5.5,20.2

In [32]:
100*pd.crosstab(dati.Q014, [dati.Q003,dati.Q011], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q003                                Donna                             \
Q011                      a centro destra a centro sinistra a destra
Q014
No, sarei contrario                  12.2              24.0      7.2
No, sarei molto contrario            15.0              11.7     13.8
Non saprei                           12.4              16.1     15.7
Si, abbastanza                       41.2              32.2     32.3
Si, molto                            19.2              16.0     30.9

Q003                                                                     \
Q011                      a sinistra al centro in nessuna area politica
Q014
No, sarei contrario              6.9      19.6                     10.5
No, sarei molto contrario        8.5      13.5                      9.3
Non saprei                      11.2      18.4                     25.6
Si, abbastanza                  27.7      37.9                     36.9
Si, molto                       45.7      10.6                     17.7

Q003                                                           Uomo  \
Q011                      preferisco non rispondere a centro destra
Q014
No, sarei contrario                            14.1            29.9
No, sarei molto contrario                       9.1            22.1
Non saprei                                     45.8            11.3
Si, abbastanza                                 26.9            28.8
Si, molto                                       4.1             7.9

Q003                                                                       \
Q011                      a centro sinistra a destra a sinistra al centro
Q014
No, sarei contrario                    14.1     14.3       14.3      28.5
No, sarei molto contrario               5.9     34.4        5.1       3.7
Non saprei                              8.7     12.2        8.7       0.4
Si, abbastanza                         38.7     22.4       35.0      53.5
Si, molto                              32.6     16.8       36.9      13.9

Q003                                                                          \
Q011                      in nessuna area politica preferisco non rispondere
Q014
No, sarei contrario                           12.6                      15.6
No, sarei molto contrario                     14.5                      17.4
Non saprei                                    26.2                      29.0
Si, abbastanza                                26.1                      28.3
Si, molto                                     20.7                       9.7

Q003                       All
Q011
Q014
No, sarei contrario       15.8
No, sarei molto contrario 12.7
Non saprei                18.2
Si, abbastanza            33.2
Si, molto                 20.2