In [1]:
import pandas as pd

In [2]:
dati=pd.read_csv("File dati_Ortona (1200)_ETICHETTE.csv",sep=';')

In [3]:
dati['peso']=dati['peso'].replace(',','.', regex=True).astype(float)

#### campi del questionario, comprese le nostre domande (Q013, Q014, Q015)

ID

Q002	Lei e'

		1	Uomo
		2	Donna
Q005	Classe di eta' a 6

		1	18-24 anni
		2	25-34 anni
		3	35-44 anni
		4	45-54 anni
		5	55-64 anni
		6	oltre 64 anni
Q006	Zona a 5 (FV per regione ordine istat)

		1	nord-ovest
		2	nord-est
		3	centro
		4	sud
		5	isole
Q007	Quanti abitanti ha il suo comune di residenza?

		1	fino a 5000 abitanti
		2	da 5001 a 10000 abitanti
		3	da 10001 a 30000 abitanti
		4	da 30001 a 100000 abitanti
		5	da 100001 a 250000 abitanti
		6	oltre 250000 abitanti
Q008	scol recode

		1	no laurea
		2	laurea
Q009	Come e' composto il suo nucleo familiare

		1	vive da solo 18-34 anni
		2	vive da solo 35-54 anni
		3	vive da solo +55 anni
		4	vive con i genitori
		5	coppia con figli
		6	coppia senza figli
		7	genitore solo, con figli
		8	genitore solo, vive con figlio/figli e genitori&nbsp;
		9	single vive con altre persone (amici, parenti)
		10	altro/preferisco non rispondere
Q010	Indichi la Sua attuale professione o condizione professionale

		1	imprenditore
		2	artigiano/familiare coadiuvante
		3	commerciante
		4	altro lavoratore autonomo/agente di commercio/rappresentante
		5	libero professionista
		6	dirigente
		7	docente/insegnante di scuola superiore
		8	insegnante di scuola media, elementare e materna
		9	quadro/direttivo/tecnico
		10	impiegato
		11	altro lavoratore dipendente
		12	operaio
		13	agricoltore
		14	studente/scolaro
		15	in cerca di prima occupazione
		16	casalinga
		17	ritirato dal lavoro/pensionato
		18	disoccupato (ex-occupato)
		19	proprietario/redditiere/benestante
		20	altro (non occupato)
		21	preferisco non rispondere
Q011	Lei politicamente si collocherebbe piu' facilmente...

		1	a destra
		2	a centro destra
		3	al centro
		4	a centro sinistra
		5	a sinistra
		6	in nessuna area politica
		7	preferisco non rispondere
Q012	Lei ha la cittadinanza...

		1	Italiana
		2	Estera
		3	ho la doppia cittadinanza (italiana e di un altro Paese)
		4	sono apolide
		5	preferisco non rispondere
Q013	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei
Q014	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (lo 0.8%)  sui PATRIMONI FINANZIARI al di sopra dei 130 mila euro quindi conti in banca, azioni, obbligazioni, bot, ma NON case, terreni o altri beni immobili.Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei
Q015	E sarebbe favorevole al progetto qualora prevedesse un'imposta per tutti i patrimoni finanziari, anche quelli inferiori a 130.000E, con un'aliquota piu' bassa (lo 0.3% anziche' lo 0.8%) per i patrimoni inferiori a quella cifra? 

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei
Q016	Con quale frequenza si reca a Messa o la segue in televisione o alla radio?

		1	ogni giorno
		2	2/3 volte alla settimana
		3	la domenica
		4	una volta al mese
		5	in occasione delle principali feste
		6	alcune volte l'anno
		7	mai
		8	non sono credente
		9	sono di un'altra religione
		10	preferisco non rispondere
Q017	CENTRI URBANI RECODE

        1	piccoli centri
		2	citta' medie
		3	periferia
		4	aree centrali di grandi citta'
		5	altro
Q019	Il Suo reddito familiare Le consente di vivere...

		1	agiatamente
		2	con tranquillita'
		3	avverto difficolta'
		4	arrivo a fine mese con molte difficolta'
		5	mi sento povero e non arrivo mai a fine mese
Q020	Condizione professionale

		1	Occupato
		2	Non occupato
Q021	Professione recode

		1	Autonomi
		2	Dipendenti
		3	Operai
		4	Disoccupati
		5	Studenti
		6	Casalinghe
		7	Pensionati
Q022	Settore lavorativo pubblico/privato

		1	Pubblico
		2	Privato
Q023	Livello scolarita' 3

		1	Bassa
		2	Media
		3	Alta
Q024	GENERAZIONI

		1	GENERAZIONE Z
		2	MILLENNIALS
		3	GENERAZIONE X
		4	BABY BOOMERS
		5	SILENT
Q025	RELIGIONE

		1	Cattolico praticante (fino a 1 volta al mese)
		2	Cattolico non praticante
		3	non credente
		4	altra religione

In [4]:
dati.columns

Index(['ID', 'Q002', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011',
       'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q019', 'Q020', 'Q021',
       'Q022', 'Q023', 'Q024', 'Q025', 'peso'],
      dtype='object')

In [5]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

#### calcoli non pesati

In [6]:
100*pd.crosstab(dati.Q013, dati.Q002,normalize='columns',margins=True)

Q002        Donna  Uomo  All
Q013
No           16.1  27.1 21.5
Non saprei   18.2  10.6 14.4
Si'          65.7  62.3 64.0

#### calcoli pesati (d'ora in avanti solo calcoli pesati)

Q013	Vorremmo chiedere la sua opinione su una proposta economica elaborata da un gruppo di studiosi di alcune universita'. Come probabilmente sa, in Italia ci sono moltissimi giovani che non trovano lavoro. Ritiene che lo Stato dovrebbe intervenire, creando direttamente posti di lavoro?

		1	Si'
		2	No
		3	Non saprei

In [7]:
100*pd.crosstab(dati.Q013, dati.Q002, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002        Donna  Uomo  All
Q013
No           14.8  25.8 20.1
Non saprei   20.2  13.0 16.7
Si'          64.9  61.2 63.2

In [8]:
100*pd.crosstab(dati.Q013, dati.Q005, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q005,18-24 anni,25-34 anni,35-44 anni,45-54 anni,55-64 anni,oltre 64 anni,All
Q013,,,,,,,
No,16.2,21.9,20.4,16.4,20.7,22.4,20.1
Non saprei,19.2,22.0,16.7,14.9,14.5,16.3,16.7
Si',64.5,56.1,62.9,68.7,64.8,61.3,63.2

In [9]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q005], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002            Donna                                              \
Q005       18-24 anni 25-34 anni 35-44 anni 45-54 anni 55-64 anni
Q013
No               14.4       12.6       14.3       11.7       12.2
Non saprei       23.4       27.3       21.3       18.9       17.3
Si'              62.2       60.1       64.4       69.4       70.6

Q002                           Uomo                                   \
Q005       oltre 64 anni 18-24 anni 25-34 anni 35-44 anni 45-54 anni
Q013
No                  19.4       17.9       31.1       26.3       21.3
Non saprei          18.6       15.4       16.8       12.2       10.7
Si'                 62.0       66.7       52.1       61.4       67.9

Q002                                 All
Q005       55-64 anni oltre 64 anni
Q013
No               29.5          26.3 20.1
Non saprei       11.7          13.2 16.7
Si'              58.8          60.5 63.2

In [10]:
100*pd.crosstab(dati.Q013, dati.Q006, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q006        centro  isole  nord-est  nord-ovest  sud  All
Q013
No            25.1   11.3      28.0        25.0  7.3 20.1
Non saprei    15.5   13.6      17.3        19.3 15.7 16.7
Si'           59.4   75.2      54.6        55.7 77.0 63.2

In [11]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q006], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002        Donna                                  Uomo                 \
Q006       centro isole nord-est nord-ovest  sud centro isole nord-est
Q013
No           17.8   4.7     18.7       20.1  7.3   33.0  18.1     38.0
Non saprei   21.8  14.5     25.8       18.0 19.5    8.6  12.6      8.4
Si'          60.4  80.9     55.6       62.0 73.2   58.4  69.3     53.6

Q002                        All
Q006       nord-ovest  sud
Q013
No               30.3  7.3 20.1
Non saprei       20.8 11.7 16.7
Si'              48.8 81.0 63.2

In [12]:
100*pd.crosstab(dati.Q013, dati.Q007, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q007,da 100001 a 250000 abitanti,da 10001 a 30000 abitanti,da 30001 a 100000 abitanti,da 5001 a 10000 abitanti,fino a 5000 abitanti,oltre 250000 abitanti,All
Q013,,,,,,,
No,23.5,21.7,18.1,15.6,25.1,19.4,20.1
Non saprei,13.9,17.0,18.1,16.0,18.3,16.0,16.7
Si',62.6,61.3,63.8,68.4,56.6,64.7,63.2

In [13]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q007], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                             Donna                            \
Q007       da 100001 a 250000 abitanti da 10001 a 30000 abitanti
Q013
No                                19.2                      15.8
Non saprei                        15.6                      18.1
Si'                               65.2                      66.2

Q002                                                            \
Q007       da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q013
No                               14.7                     12.0
Non saprei                       24.6                     16.5
Si'                              60.7                     71.5

Q002                                                   \
Q007       fino a 5000 abitanti oltre 250000 abitanti
Q013
No                         15.8                  12.6
Non saprei                 26.7                  17.8
Si'                        57.5                  69.6

Q002                              Uomo                            \
Q007       da 100001 a 250000 abitanti da 10001 a 30000 abitanti
Q013
No                                28.2                      28.4
Non saprei                        12.0                      15.8
Si'                               59.8                      55.8

Q002                                                            \
Q007       da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q013
No                               21.7                     17.9
Non saprei                       11.1                     15.8
Si'                              67.2                     66.4

Q002                                                   All
Q007       fino a 5000 abitanti oltre 250000 abitanti
Q013
No                         40.3                  27.0 20.1
Non saprei                  4.6                  13.9 16.7
Si'                        55.2                  59.1 63.2

In [14]:
100*pd.crosstab(dati.Q013, dati.Q008, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q008        laurea  no laurea  All
Q013
No            23.6       19.5 20.1
Non saprei    15.0       17.0 16.7
Si'           61.4       63.5 63.2

In [15]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q008], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002        Donna             Uomo            All
Q008       laurea no laurea laurea no laurea
Q013
No           19.0      14.1   28.3      25.3 20.1
Non saprei   19.3      20.4   10.5      13.4 16.7
Si'          61.7      65.5   61.2      61.2 63.2

In [16]:
100*pd.crosstab(dati.Q013, dati.Q009, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q009,altro/preferisco non rispondere,coppia con figli,coppia senza figli,"genitore solo, con figli","genitore solo, vive con figlio/figli e genitori&nbsp;","single vive con altre persone (amici, parenti)",vive con i genitori,vive da solo +55 anni,vive da solo 18-34 anni,vive da solo 35-54 anni,All
Q013,,,,,,,,,,,
No,8.7,17.6,25.9,11.0,5.8,23.2,14.9,25.1,33.6,21.0,20.1
Non saprei,48.3,16.0,13.5,14.4,5.9,13.1,17.2,23.0,26.8,19.8,16.7
Si',43.0,66.4,60.7,74.7,88.3,63.7,67.9,51.9,39.6,59.2,63.2

In [17]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q009], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                 Donna                   \
Q009       altro/preferisco non rispondere coppia con figli
Q013
No                                    13.3             14.5
Non saprei                            66.3             18.2
Si'                                   20.4             67.3

Q002                                                    \
Q009       coppia senza figli genitore solo, con figli
Q013
No                       20.4                      9.9
Non saprei               15.1                     14.4
Si'                      64.5                     75.6

Q002                                                              \
Q009       genitore solo, vive con figlio/figli e genitori&nbsp;
Q013
No                                                        0.0
Non saprei                                                0.0
Si'                                                     100.0

Q002                                                                           \
Q009       single vive con altre persone (amici, parenti) vive con i genitori
Q013
No                                                   27.7                 9.6
Non saprei                                           23.3                21.8
Si'                                                  49.0                68.7

Q002                                                      \
Q009       vive da solo +55 anni vive da solo 18-34 anni
Q013
No                          10.7                    16.9
Non saprei                  31.6                    38.5
Si'                         57.7                    44.6

Q002                                ...             Uomo                     \
Q009       vive da solo 35-54 anni  ... coppia con figli coppia senza figli
Q013                                ...
No                             8.8  ...             21.1               32.2
Non saprei                    29.8  ...             13.5               11.6
Si'                           61.4  ...             65.4               56.3

Q002                                 \
Q009       genitore solo, con figli
Q013
No                             15.6
Non saprei                     14.2
Si'                            70.2

Q002                                                              \
Q009       genitore solo, vive con figlio/figli e genitori&nbsp;
Q013
No                                                        9.2
Non saprei                                                9.4
Si'                                                      81.3

Q002                                                                           \
Q009       single vive con altre persone (amici, parenti) vive con i genitori
Q013
No                                                   17.3                19.1
Non saprei                                            0.0                13.6
Si'                                                  82.7                67.4

Q002                                                      \
Q009       vive da solo +55 anni vive da solo 18-34 anni
Q013
No                          39.2                    47.6
Non saprei                  14.6                    17.1
Si'                         46.2                    35.4

Q002                                All
Q009       vive da solo 35-54 anni
Q013
No                            29.0 20.1
Non saprei                    13.2 16.7
Si'                           57.8 63.2

[3 rows x 21 columns]

In [18]:
100*pd.crosstab(dati.Q013, dati.Q011, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q011,a centro destra,a centro sinistra,a destra,a sinistra,al centro,in nessuna area politica,preferisco non rispondere,All
Q013,,,,,,,,
No,31.5,18.1,24.6,14.2,24.1,17.0,12.1,20.1
Non saprei,6.8,16.0,7.5,11.1,12.3,19.3,40.9,16.7
Si',61.7,65.9,67.8,74.7,63.6,63.7,46.9,63.2

In [19]:
100*pd.crosstab(dati.Q013, [dati.Q002,dati.Q011], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                 Donna                                                  \
Q011       a centro destra a centro sinistra a destra a sinistra al centro
Q013
No                    21.7              14.0     12.7       15.5      26.1
Non saprei            11.6              23.9      9.6       17.2      16.1
Si'                   66.7              62.1     77.7       67.3      57.8

Q002                                                                     Uomo  \
Q011       in nessuna area politica preferisco non rispondere a centro destra
Q013
No                             10.3                      10.4            42.2
Non saprei                     20.3                      37.4             1.5
Si'                            69.4                      52.2            56.3

Q002                                                        \
Q011       a centro sinistra a destra a sinistra al centro
Q013
No                      20.9     32.5       12.8      22.3
Non saprei              10.6      6.2        4.5       8.8
Si'                     68.5     61.3       82.7      68.9

Q002                                                           All
Q011       in nessuna area politica preferisco non rispondere
Q013
No                             27.1                      14.7 20.1
Non saprei                     17.7                      45.9 16.7
Si'                            55.2                      39.4 63.2

Q014	La proposta ha il duplice scopo di rafforzare i servizi pubblici piu' carenti, come per esempio, sanita', giustizia, scuola, difesa del territorio, e di ridurre drasticamente la disoccupazione dei giovani. Essa consiste in un piano straordinario di assunzioni, finanziate con un piccolo prelievo  fiscale (lo 0.8%)  sui PATRIMONI FINANZIARI al di sopra dei 130 mila euro quindi conti in banca, azioni, obbligazioni, bot, ma NON case, terreni o altri beni immobili.Lei sarebbe favorevole?

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei

In [20]:
100*pd.crosstab(dati.Q014, dati.Q002, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna  Uomo  All
Q014
No, sarei contrario         13.0  16.6 14.7
No, sarei molto contrario   16.5  20.8 18.6
Non saprei                  22.1  11.4 16.9
Si, abbastanza              30.1  27.6 28.9
Si, molto                   18.3  23.6 20.9

In [21]:
100*pd.crosstab(dati.Q014, dati.Q005, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q005,18-24 anni,25-34 anni,35-44 anni,45-54 anni,55-64 anni,oltre 64 anni,All
Q014,,,,,,,
"No, sarei contrario",13.2,16.0,9.9,14.7,15.3,16.9,14.7
"No, sarei molto contrario",12.4,12.4,14.3,18.6,18.8,25.4,18.6
Non saprei,19.4,25.8,17.1,21.5,10.2,12.9,16.9
"Si, abbastanza",42.2,24.3,37.9,25.3,32.5,22.6,28.9
"Si, molto",12.8,21.5,20.7,20.0,23.2,22.2,20.9

In [22]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q005], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                           Donna                                   \
Q005                      18-24 anni 25-34 anni 35-44 anni 45-54 anni
Q014
No, sarei contrario              8.0       13.9        8.3        8.8
No, sarei molto contrario       10.1        5.9       11.7       15.7
Non saprei                      28.6       38.9       25.9       26.5
Si, abbastanza                  40.4       27.7       34.8       28.1
Si, molto                       12.9       13.6       19.2       20.8

Q002                                                     Uomo             \
Q005                      55-64 anni oltre 64 anni 18-24 anni 25-34 anni
Q014
No, sarei contrario             17.0          16.6       17.9       18.0
No, sarei molto contrario       17.3          24.8       14.4       18.8
Non saprei                      11.5          14.8       11.0       13.0
Si, abbastanza                  33.2          26.0       43.9       21.0
Si, molto                       21.0          17.9       12.7       29.2

Q002                                                                      All
Q005                      35-44 anni 45-54 anni 55-64 anni oltre 64 anni
Q014
No, sarei contrario             11.5       20.7       13.6          17.3 14.7
No, sarei molto contrario       16.9       21.5       20.4          26.3 18.6
Non saprei                       8.3       16.4        8.9          10.4 16.9
Si, abbastanza                  41.1       22.4       31.8          18.3 28.9
Si, molto                       22.2       19.1       25.4          27.7 20.9

In [23]:
100*pd.crosstab(dati.Q014, dati.Q006, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q006                       centro  isole  nord-est  nord-ovest  sud  All
Q014
No, sarei contrario          16.9   12.0      13.3        17.6 11.9 14.7
No, sarei molto contrario    16.4   17.8      20.8        24.5 12.0 18.6
Non saprei                   15.7   17.4      15.5        14.2 22.3 16.9
Si, abbastanza               31.7   29.9      27.0        30.0 26.5 28.9
Si, molto                    19.4   23.0      23.5        13.7 27.3 20.9

In [24]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q006], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna                                  Uomo        \
Q006                      centro isole nord-est nord-ovest  sud centro isole
Q014
No, sarei contrario         12.0   8.4     10.3       16.5 14.2   22.1  15.7
No, sarei molto contrario   13.4  12.1     23.4       22.0  9.0   19.7  23.7
Non saprei                  20.2  25.5     22.5       18.5 26.0   10.8   9.0
Si, abbastanza              38.5  28.3     26.7       29.1 27.8   24.3  31.5
Si, molto                   15.9  25.8     17.2       13.9 23.0   23.1  20.1

Q002                                                All
Q006                      nord-est nord-ovest  sud
Q014
No, sarei contrario           16.5       18.9  9.4 14.7
No, sarei molto contrario     18.0       27.2 15.3 18.6
Non saprei                     7.9        9.4 18.3 16.9
Si, abbastanza                27.3       30.9 25.1 28.9
Si, molto                     30.3       13.5 31.9 20.9

In [25]:
100*pd.crosstab(dati.Q014, dati.Q007, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q007,da 100001 a 250000 abitanti,da 10001 a 30000 abitanti,da 30001 a 100000 abitanti,da 5001 a 10000 abitanti,fino a 5000 abitanti,oltre 250000 abitanti,All
Q014,,,,,,,
"No, sarei contrario",15.8,11.0,15.3,15.0,12.8,18.1,14.7
"No, sarei molto contrario",17.5,21.7,16.1,16.1,15.7,21.8,18.6
Non saprei,12.7,17.2,18.5,16.6,28.9,10.8,16.9
"Si, abbastanza",25.0,32.6,26.6,29.8,31.6,27.7,28.9
"Si, molto",29.0,17.5,23.6,22.6,11.0,21.6,20.9

In [26]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q007], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                            Donna  \
Q007                      da 100001 a 250000 abitanti
Q014
No, sarei contrario                              14.0
No, sarei molto contrario                        14.3
Non saprei                                        8.4
Si, abbastanza                                   38.1
Si, molto                                        25.2

Q002                                                 \
Q007                      da 10001 a 30000 abitanti
Q014
No, sarei contrario                             4.9
No, sarei molto contrario                      23.0
Non saprei                                     24.7
Si, abbastanza                                 31.6
Si, molto                                      15.8

Q002                                                                           \
Q007                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q014
No, sarei contrario                             13.9                     18.0
No, sarei molto contrario                       17.8                      6.1
Non saprei                                      23.8                     16.7
Si, abbastanza                                  22.4                     44.3
Si, molto                                       22.1                     14.9

Q002                                                                  \
Q007                      fino a 5000 abitanti oltre 250000 abitanti
Q014
No, sarei contrario                        9.2                  19.6
No, sarei molto contrario                  9.7                  19.0
Non saprei                                40.6                  14.9
Si, abbastanza                            30.7                  26.1
Si, molto                                  9.9                  20.3

Q002                                             Uomo  \
Q007                      da 100001 a 250000 abitanti
Q014
No, sarei contrario                              17.9
No, sarei molto contrario                        21.0
Non saprei                                       17.3
Si, abbastanza                                   10.6
Si, molto                                        33.1

Q002                                                 \
Q007                      da 10001 a 30000 abitanti
Q014
No, sarei contrario                            17.8
No, sarei molto contrario                      20.3
Non saprei                                      8.7
Si, abbastanza                                 33.8
Si, molto                                      19.4

Q002                                                                           \
Q007                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q014
No, sarei contrario                             16.8                     13.0
No, sarei molto contrario                       14.2                     22.5
Non saprei                                      12.7                     16.5
Si, abbastanza                                  31.1                     20.5
Si, molto                                       25.2                     27.4

Q002                                                                  All
Q007                      fino a 5000 abitanti oltre 250000 abitanti
Q014
No, sarei contrario                       18.6                  16.5 14.7
No, sarei molto contrario                 25.6                  25.0 18.6
Non saprei                                 9.9                   6.1 16.9
Si, abbastanza                            33.2                  29.4 28.9
Si, molto                                 12.7                  23.1 20.9

In [27]:
100*pd.crosstab(dati.Q014, dati.Q008, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q008                       laurea  no laurea  All
Q014
No, sarei contrario          15.2       14.6 14.7
No, sarei molto contrario    18.6       18.6 18.6
Non saprei                   12.3       17.7 16.9
Si, abbastanza               31.5       28.5 28.9
Si, molto                    22.4       20.6 20.9

In [28]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q008], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna             Uomo            All
Q008                      laurea no laurea laurea no laurea
Q014
No, sarei contrario         15.0      12.7   15.4      16.8 14.7
No, sarei molto contrario   16.4      16.6   20.9      20.8 18.6
Non saprei                  16.5      23.0    8.0      12.0 16.9
Si, abbastanza              34.5      29.4   28.3      27.5 28.9
Si, molto                   17.6      18.4   27.3      23.0 20.9

In [29]:
100*pd.crosstab(dati.Q014, dati.Q009, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q009,altro/preferisco non rispondere,coppia con figli,coppia senza figli,"genitore solo, con figli","genitore solo, vive con figlio/figli e genitori&nbsp;","single vive con altre persone (amici, parenti)",vive con i genitori,vive da solo +55 anni,vive da solo 18-34 anni,vive da solo 35-54 anni,All
Q014,,,,,,,,,,,
"No, sarei contrario",14.5,15.6,16.3,14.8,24.8,9.6,16.4,11.0,8.0,7.2,14.7
"No, sarei molto contrario",5.4,17.4,23.0,16.5,0.0,16.2,12.7,19.9,14.7,27.5,18.6
Non saprei,48.3,14.7,15.1,18.9,15.9,22.0,22.9,18.0,14.1,16.6,16.9
"Si, abbastanza",23.7,28.8,26.2,42.1,37.3,13.3,30.1,16.9,48.3,35.1,28.9
"Si, molto",8.1,23.5,19.2,7.7,22.0,39.0,17.9,34.1,14.9,13.6,20.9

In [30]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q009], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                                Donna                   \
Q009                      altro/preferisco non rispondere coppia con figli
Q014
No, sarei contrario                                   0.0             12.5
No, sarei molto contrario                             0.0             16.3
Non saprei                                           66.3             19.2
Si, abbastanza                                       33.7             29.1
Si, molto                                             0.0             22.9

Q002                                                                   \
Q009                      coppia senza figli genitore solo, con figli
Q014
No, sarei contrario                     14.2                     15.0
No, sarei molto contrario               21.6                     19.7
Non saprei                              16.8                     23.1
Si, abbastanza                          31.0                     33.5
Si, molto                               16.4                      8.8

Q002                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q014
No, sarei contrario                                                     57.9
No, sarei molto contrario                                                0.0
Non saprei                                                              27.0
Si, abbastanza                                                          15.1
Si, molto                                                                0.0

Q002                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q014
No, sarei contrario                                                  9.6
No, sarei molto contrario                                            9.9
Non saprei                                                          39.1
Si, abbastanza                                                      18.2
Si, molto                                                           23.2

Q002                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q014
No, sarei contrario                      13.1                  17.9
No, sarei molto contrario                11.1                  19.0
Non saprei                               26.4                  21.9
Si, abbastanza                           33.1                  19.1
Si, molto                                16.3                  22.2

Q002                                                                       \
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q014
No, sarei contrario                           9.0                     1.2
No, sarei molto contrario                     4.8                    13.6
Non saprei                                   31.0                    33.1
Si, abbastanza                               45.0                    34.5
Si, molto                                    10.1                    17.7

Q002                       ...             Uomo                     \
Q009                       ... coppia con figli coppia senza figli
Q014                       ...
No, sarei contrario        ...             18.9               18.7
No, sarei molto contrario  ...             18.7               24.7
Non saprei                 ...              9.7               13.2
Si, abbastanza             ...             28.5               20.8
Si, molto                  ...             24.2               22.5

Q002                                                \
Q009                      genitore solo, con figli
Q014
No, sarei contrario                           14.1
No, sarei molto contrario                      2.4
Non saprei                                     0.0
Si, abbastanza                                81.0
Si, molto                                      2.4

Q002                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q014
No, sarei contrario                                                      5.3
No, sarei molto contrario                                                0.0
Non saprei                                                               9.4
Si, abbastanza                                                          50.3
Si, molto                                                               34.9

Q002                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q014
No, sarei contrario                                                  9.6
No, sarei molto contrario                                           24.2
Non saprei                                                           0.0
Si, abbastanza                                                       7.0
Si, molto                                                           59.2

Q002                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q014
No, sarei contrario                      19.0                   4.4
No, sarei molto contrario                14.0                  20.9
Non saprei                               20.2                  14.2
Si, abbastanza                           27.7                  14.7
Si, molto                                19.1                  45.8

Q002                                                                       All
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q014
No, sarei contrario                           7.0                    11.2 14.7
No, sarei molto contrario                    23.0                    36.6 18.6
Non saprei                                    0.0                     5.7 16.9
Si, abbastanza                               51.0                    35.6 28.9
Si, molto                                    19.0                    10.9 20.9

[5 rows x 21 columns]

In [31]:
100*pd.crosstab(dati.Q014, dati.Q011, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q011,a centro destra,a centro sinistra,a destra,a sinistra,al centro,in nessuna area politica,preferisco non rispondere,All
Q014,,,,,,,,
"No, sarei contrario",15.9,15.1,22.7,9.6,23.4,13.3,9.4,14.7
"No, sarei molto contrario",29.9,9.8,22.0,11.7,21.1,19.7,13.4,18.6
Non saprei,7.7,15.2,5.0,10.7,12.4,19.6,43.4,16.9
"Si, abbastanza",29.3,33.5,30.6,27.9,27.1,27.3,26.7,28.9
"Si, molto",17.2,26.4,19.8,40.1,16.0,20.1,7.0,20.9

In [32]:
100*pd.crosstab(dati.Q014, [dati.Q002,dati.Q011], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                Donna                             \
Q011                      a centro destra a centro sinistra a destra
Q014
No, sarei contrario                  13.2              12.2     20.9
No, sarei molto contrario            29.3              13.1      9.6
Non saprei                           11.4              25.8     10.2
Si, abbastanza                       25.5              32.1     43.3
Si, molto                            20.6              16.9     16.0

Q002                                                                     \
Q011                      a sinistra al centro in nessuna area politica
Q014
No, sarei contrario             12.2      31.0                     10.5
No, sarei molto contrario        8.2      15.9                     16.3
Non saprei                      17.1      13.4                     23.4
Si, abbastanza                  32.2      31.8                     29.0
Si, molto                       30.2       7.8                     20.9

Q002                                                           Uomo  \
Q011                      preferisco non rispondere a centro destra
Q014
No, sarei contrario                             6.5            18.9
No, sarei molto contrario                      13.8            30.5
Non saprei                                     43.5             3.6
Si, abbastanza                                 28.3            33.5
Si, molto                                       8.0            13.4

Q002                                                                       \
Q011                      a centro sinistra a destra a sinistra al centro
Q014
No, sarei contrario                    17.0     23.9        6.8      16.4
No, sarei molto contrario               7.5     30.1       15.4      25.8
Non saprei                              7.9      1.5        3.7      11.5
Si, abbastanza                         34.5     22.2       23.3      22.7
Si, molto                              33.0     22.2       50.8      23.5

Q002                                                                          \
Q011                      in nessuna area politica preferisco non rispondere
Q014
No, sarei contrario                           17.5                      13.4
No, sarei molto contrario                     24.9                      12.9
Non saprei                                    13.8                      43.4
Si, abbastanza                                24.8                      24.6
Si, molto                                     18.9                       5.7

Q002                       All
Q011
Q014
No, sarei contrario       14.7
No, sarei molto contrario 18.6
Non saprei                16.9
Si, abbastanza            28.9
Si, molto                 20.9

Q015	E sarebbe favorevole al progetto qualora prevedesse un'imposta per tutti i patrimoni finanziari, anche quelli inferiori a 130.000E, con un'aliquota piu' bassa (lo 0.3% anziche' lo 0.8%) per i patrimoni inferiori a quella cifra? 

		1	Si, molto
		2	Si, abbastanza
		3	No, sarei contrario
		4	No, sarei molto contrario
		5	Non saprei

In [33]:
100*pd.crosstab(dati.Q015, dati.Q002, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna  Uomo  All
Q015
No, sarei contrario         23.0  24.1 23.5
No, sarei molto contrario   27.8  37.1 32.3
Non saprei                  25.3  12.5 19.1
Si, abbastanza              18.7  17.6 18.2
Si, molto                    5.1   8.7  6.8

In [34]:
100*pd.crosstab(dati.Q015, dati.Q005, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q005,18-24 anni,25-34 anni,35-44 anni,45-54 anni,55-64 anni,oltre 64 anni,All
Q015,,,,,,,
"No, sarei contrario",23.0,24.9,19.9,21.8,25.8,24.9,23.5
"No, sarei molto contrario",30.0,24.9,35.7,33.8,31.0,34.2,32.3
Non saprei,24.7,26.4,18.9,21.5,16.2,14.5,19.1
"Si, abbastanza",15.6,18.9,20.4,16.7,19.2,17.8,18.2
"Si, molto",6.7,4.9,5.1,6.3,7.8,8.5,6.8

In [35]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q005], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                           Donna                                   \
Q005                      18-24 anni 25-34 anni 35-44 anni 45-54 anni
Q015
No, sarei contrario             18.4       25.1       15.8       24.9
No, sarei molto contrario       17.3       14.6       33.1       26.4
Non saprei                      42.1       39.8       24.4       25.1
Si, abbastanza                  15.9       17.6       23.8       19.1
Si, molto                        6.4        3.0        3.0        4.6

Q002                                                     Uomo             \
Q005                      55-64 anni oltre 64 anni 18-24 anni 25-34 anni
Q015
No, sarei contrario             24.2          25.1       27.2       24.7
No, sarei molto contrario       27.4          34.2       41.5       35.0
Non saprei                      21.7          18.2        9.0       13.3
Si, abbastanza                  19.0          16.9       15.3       20.3
Si, molto                        7.7           5.6        7.1        6.7

Q002                                                                      All
Q005                      35-44 anni 45-54 anni 55-64 anni oltre 64 anni
Q015
No, sarei contrario             24.0       18.7       27.4          24.6 23.5
No, sarei molto contrario       38.2       41.3       34.8          34.3 32.3
Non saprei                      13.5       17.8       10.5           9.8 19.1
Si, abbastanza                  17.1       14.2       19.4          18.9 18.2
Si, molto                        7.2        8.1        7.9          12.4  6.8

In [36]:
100*pd.crosstab(dati.Q015, dati.Q006, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q006                       centro  isole  nord-est  nord-ovest  sud  All
Q015
No, sarei contrario          21.9   21.3      27.8        29.0 15.9 23.5
No, sarei molto contrario    33.1   28.0      33.6        34.7 29.7 32.3
Non saprei                   20.1   24.0      13.2        15.6 25.4 19.1
Si, abbastanza               19.2   19.3      20.0        14.1 20.1 18.2
Si, molto                     5.7    7.5       5.4         6.7  8.9  6.8

In [37]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q006], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna                                  Uomo        \
Q006                      centro isole nord-est nord-ovest  sud centro isole
Q015
No, sarei contrario         24.9  19.8     20.2       31.9 14.8   18.7  22.7
No, sarei molto contrario   33.9  13.5     34.3       26.6 24.9   32.1  43.1
Non saprei                  23.0  37.7     18.3       21.3 32.5   17.0   9.8
Si, abbastanza              15.3  23.3     22.4       13.5 22.6   23.4  15.1
Si, molto                    2.9   5.7      4.7        6.7  5.2    8.7   9.3

Q002                                                All
Q006                      nord-est nord-ovest  sud
Q015
No, sarei contrario           36.0       25.8 17.0 23.5
No, sarei molto contrario     32.7       43.5 34.9 32.3
Non saprei                     7.7        9.3 17.7 19.1
Si, abbastanza                17.4       14.7 17.4 18.2
Si, molto                      6.2        6.7 12.9  6.8

In [38]:
100*pd.crosstab(dati.Q015, dati.Q007, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q007,da 100001 a 250000 abitanti,da 10001 a 30000 abitanti,da 30001 a 100000 abitanti,da 5001 a 10000 abitanti,fino a 5000 abitanti,oltre 250000 abitanti,All
Q015,,,,,,,
"No, sarei contrario",22.4,20.5,24.4,25.6,23.6,24.7,23.5
"No, sarei molto contrario",35.3,35.1,31.6,30.8,31.3,30.4,32.3
Non saprei,18.6,21.9,17.4,20.2,26.5,14.0,19.1
"Si, abbastanza",19.3,14.8,18.0,16.9,15.0,23.7,18.2
"Si, molto",4.5,7.8,8.5,6.4,3.7,7.2,6.8

In [39]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q007], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                            Donna  \
Q007                      da 100001 a 250000 abitanti
Q015
No, sarei contrario                              25.8
No, sarei molto contrario                        36.1
Non saprei                                       11.3
Si, abbastanza                                   25.6
Si, molto                                         1.3

Q002                                                 \
Q007                      da 10001 a 30000 abitanti
Q015
No, sarei contrario                            15.0
No, sarei molto contrario                      28.8
Non saprei                                     33.3
Si, abbastanza                                 15.6
Si, molto                                       7.3

Q002                                                                           \
Q007                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q015
No, sarei contrario                             23.7                     28.4
No, sarei molto contrario                       25.4                     25.8
Non saprei                                      21.7                     26.4
Si, abbastanza                                  23.4                     16.8
Si, molto                                        5.7                      2.6

Q002                                                                  \
Q007                      fino a 5000 abitanti oltre 250000 abitanti
Q015
No, sarei contrario                       24.6                  25.6
No, sarei molto contrario                 18.8                  32.0
Non saprei                                40.7                  17.7
Si, abbastanza                            12.0                  18.8
Si, molto                                  3.9                   5.9

Q002                                             Uomo  \
Q007                      da 100001 a 250000 abitanti
Q015
No, sarei contrario                              18.6
No, sarei molto contrario                        34.5
Non saprei                                       26.6
Si, abbastanza                                   12.4
Si, molto                                         8.0

Q002                                                 \
Q007                      da 10001 a 30000 abitanti
Q015
No, sarei contrario                            26.8
No, sarei molto contrario                      42.1
Non saprei                                      8.9
Si, abbastanza                                 13.8
Si, molto                                       8.3

Q002                                                                           \
Q007                      da 30001 a 100000 abitanti da 5001 a 10000 abitanti
Q015
No, sarei contrario                             25.2                     23.9
No, sarei molto contrario                       38.3                     34.0
Non saprei                                      12.8                     16.2
Si, abbastanza                                  12.3                     17.1
Si, molto                                       11.4                      8.9

Q002                                                                  All
Q007                      fino a 5000 abitanti oltre 250000 abitanti
Q015
No, sarei contrario                       22.0                  23.7 23.5
No, sarei molto contrario                 51.7                  28.4 32.3
Non saprei                                 3.2                   9.9 19.1
Si, abbastanza                            19.8                  29.3 18.2
Si, molto                                  3.4                   8.7  6.8

In [40]:
100*pd.crosstab(dati.Q015, dati.Q008, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q008                       laurea  no laurea  All
Q015
No, sarei contrario          31.3       22.2 23.5
No, sarei molto contrario    28.6       33.0 32.3
Non saprei                   11.9       20.4 19.1
Si, abbastanza               20.4       17.8 18.2
Si, molto                     7.8        6.7  6.8

In [41]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q008], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                       Donna             Uomo            All
Q008                      laurea no laurea laurea no laurea
Q015
No, sarei contrario         29.2      22.0   33.5      22.4 23.5
No, sarei molto contrario   27.6      27.8   29.6      38.5 32.3
Non saprei                  18.1      26.6    5.5      13.7 19.1
Si, abbastanza              20.9      18.3   19.9      17.2 18.2
Si, molto                    4.1       5.3   11.6       8.2  6.8

In [42]:
100*pd.crosstab(dati.Q015, dati.Q009, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q009,altro/preferisco non rispondere,coppia con figli,coppia senza figli,"genitore solo, con figli","genitore solo, vive con figlio/figli e genitori&nbsp;","single vive con altre persone (amici, parenti)",vive con i genitori,vive da solo +55 anni,vive da solo 18-34 anni,vive da solo 35-54 anni,All
Q015,,,,,,,,,,,
"No, sarei contrario",8.8,22.2,26.7,24.8,25.7,20.3,24.7,26.0,17.9,19.7,23.5
"No, sarei molto contrario",33.3,30.8,34.0,35.2,16.1,24.7,31.2,30.8,33.9,39.7,32.3
Non saprei,52.3,18.2,16.5,22.1,10.4,25.0,22.0,17.3,27.2,18.9,19.1
"Si, abbastanza",5.6,21.2,15.0,14.7,25.9,25.5,16.5,17.6,21.0,16.9,18.2
"Si, molto",0.0,7.6,7.8,3.2,22.0,4.4,5.6,8.2,0.0,4.8,6.8

In [43]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q009], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                                Donna                   \
Q009                      altro/preferisco non rispondere coppia con figli
Q015
No, sarei contrario                                   7.1             19.1
No, sarei molto contrario                            13.3             30.9
Non saprei                                           79.6             22.4
Si, abbastanza                                        0.0             22.6
Si, molto                                             0.0              5.0

Q002                                                                   \
Q009                      coppia senza figli genitore solo, con figli
Q015
No, sarei contrario                     26.8                     17.4
No, sarei molto contrario               30.1                     39.4
Non saprei                              21.1                     26.9
Si, abbastanza                          15.1                     12.5
Si, molto                                6.9                      3.9

Q002                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q015
No, sarei contrario                                                     69.2
No, sarei molto contrario                                               18.3
Non saprei                                                              12.5
Si, abbastanza                                                           0.0
Si, molto                                                                0.0

Q002                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q015
No, sarei contrario                                                 25.4
No, sarei molto contrario                                           19.5
Non saprei                                                          44.4
Si, abbastanza                                                       5.2
Si, molto                                                            5.4

Q002                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q015
No, sarei contrario                      25.8                  25.0
No, sarei molto contrario                17.8                  33.9
Non saprei                               31.0                  20.5
Si, abbastanza                           20.5                  16.7
Si, molto                                 4.9                   3.9

Q002                                                                       \
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q015
No, sarei contrario                          30.8                    25.8
No, sarei molto contrario                     4.8                    11.4
Non saprei                                   42.3                    29.3
Si, abbastanza                               22.1                    28.1
Si, molto                                     0.0                     5.5

Q002                       ...             Uomo                     \
Q009                       ... coppia con figli coppia senza figli
Q015                       ...
No, sarei contrario        ...             25.6               26.6
No, sarei molto contrario  ...             30.8               38.4
Non saprei                 ...             13.5               11.3
Si, abbastanza             ...             19.6               15.0
Si, molto                  ...             10.5                8.8

Q002                                                \
Q009                      genitore solo, con figli
Q015
No, sarei contrario                           58.4
No, sarei molto contrario                     16.6
Non saprei                                     0.0
Si, abbastanza                                25.0
Si, molto                                      0.0

Q002                                                                             \
Q009                      genitore solo, vive con figlio/figli e genitori&nbsp;
Q015
No, sarei contrario                                                      0.0
No, sarei molto contrario                                               14.8
Non saprei                                                               9.2
Si, abbastanza                                                          41.1
Si, molto                                                               34.9

Q002                                                                      \
Q009                      single vive con altre persone (amici, parenti)
Q015
No, sarei contrario                                                 13.8
No, sarei molto contrario                                           31.4
Non saprei                                                           0.0
Si, abbastanza                                                      51.6
Si, molto                                                            3.2

Q002                                                                 \
Q009                      vive con i genitori vive da solo +55 anni
Q015
No, sarei contrario                      23.9                  27.0
No, sarei molto contrario                41.7                  27.9
Non saprei                               15.0                  14.2
Si, abbastanza                           13.3                  18.5
Si, molto                                 6.1                  12.5

Q002                                                                       All
Q009                      vive da solo 18-34 anni vive da solo 35-54 anni
Q015
No, sarei contrario                           7.1                    15.8 23.5
No, sarei molto contrario                    58.3                    58.3 32.3
Non saprei                                   14.6                    12.0 19.1
Si, abbastanza                               20.0                     9.6 18.2
Si, molto                                     0.0                     4.4  6.8

[5 rows x 21 columns]

In [44]:
100*pd.crosstab(dati.Q015, dati.Q011, values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q011,a centro destra,a centro sinistra,a destra,a sinistra,al centro,in nessuna area politica,preferisco non rispondere,All
Q015,,,,,,,,
"No, sarei contrario",21.8,33.2,24.4,22.0,25.1,21.7,17.6,23.5
"No, sarei molto contrario",42.7,24.1,38.3,24.3,29.2,37.5,22.5,32.3
Non saprei,10.4,12.0,13.7,11.1,22.2,22.0,44.0,19.1
"Si, abbastanza",21.1,21.7,14.6,27.8,17.7,13.3,13.2,18.2
"Si, molto",4.1,9.0,9.0,14.8,5.8,5.5,2.6,6.8

In [45]:
100*pd.crosstab(dati.Q015, [dati.Q002,dati.Q011], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q002                                Donna                             \
Q011                      a centro destra a centro sinistra a destra
Q015
No, sarei contrario                  17.3              32.0     34.5
No, sarei molto contrario            45.5              21.8     25.3
Non saprei                           12.2              21.5     18.9
Si, abbastanza                       20.2              18.3     16.5
Si, molto                             4.8               6.4      4.7

Q002                                                                     \
Q011                      a sinistra al centro in nessuna area politica
Q015
No, sarei contrario             23.5      31.9                     19.1
No, sarei molto contrario       24.6      14.3                     29.8
Non saprei                      17.4      27.8                     30.1
Si, abbastanza                  23.1      21.6                     17.3
Si, molto                       11.4       4.4                      3.7

Q002                                                           Uomo  \
Q011                      preferisco non rispondere a centro destra
Q015
No, sarei contrario                            20.7            26.6
No, sarei molto contrario                      16.6            39.6
Non saprei                                     44.0             8.4
Si, abbastanza                                 16.0            22.1
Si, molto                                       2.6             3.3

Q002                                                                       \
Q011                      a centro sinistra a destra a sinistra al centro
Q015
No, sarei contrario                    34.1     17.8       20.5      18.8
No, sarei molto contrario              25.7     46.8       24.0      42.9
Non saprei                              5.4     10.3        4.2      17.1
Si, abbastanza                         23.9     13.4       32.8      14.2
Si, molto                              10.8     11.7       18.5       7.0

Q002                                                                          \
Q011                      in nessuna area politica preferisco non rispondere
Q015
No, sarei contrario                           25.6                      13.1
No, sarei molto contrario                     49.0                      30.8
Non saprei                                     9.7                      44.0
Si, abbastanza                                 7.2                       9.3
Si, molto                                      8.4                       2.7

Q002                       All
Q011
Q015
No, sarei contrario       23.5
No, sarei molto contrario 32.3
Non saprei                19.1
Si, abbastanza            18.2
Si, molto                  6.8

In [46]:
100*pd.crosstab(dati.Q013, [dati.Q014], values=dati.peso,aggfunc=sum,normalize='columns',margins=True)

Q014,"No, sarei contrario","No, sarei molto contrario",Non saprei,"Si, abbastanza","Si, molto",All
Q013,,,,,,
No,36.3,36.9,5.2,17.9,8.8,20.1
Non saprei,12.3,13.7,49.9,11.6,2.7,16.7
Si',51.4,49.4,44.9,70.4,88.5,63.2